<table>

    <tr>
        <th>
            姓名
        </th>
        <td>
            <%= personData[0]["姓名"] %>
        </td>
    </tr>
        <th>
            學歷
        </th>
        <td>
            <%= personData[0]["學歷"] %>
        </td>
    <tr>

    </tr>

    <tr>

    </tr>

    <tr>

    </tr>


</table>
