<table>
    <tr>
        <td>
            老師姓名：
        </td>

    </tr>

    <% for(var i=0; i< data.length; i++) { %>

        <tr>
            <td>
                <%= data[i]["姓名"] %>
            </td>
        </tr>

    <% } %>


</table>
